/* 
    Document   : crud
    Created on : 12/07/2013, 22:02:26
    Author     : samuel
    Description:
        Purpose of the stylesheet follows.
*/

body{
    
}

#pnlCadastro{
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    
}