<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>   
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/concilia</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://127.12.233.2:5432/concilia1</property>
        <property name="hibernate.connection.username">adminfxc117a</property>
        <property name="hibernate.connection.password">g1Ga3Ge3RHpQ</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>    
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.poolsize">10</property>
        <property name="hibernate.current_session_context_class">thread</property>        
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>      
        <mapping class="tabelas.Usuario"/>
        <mapping class="tabelas.Banco"/>
        <mapping class="tabelas.ContaBancaria"/>
        <mapping class="tabelas.ContaContabil"/>
        <mapping class="tabelas.ContaBancariaMovimento"/>
        <mapping class="tabelas.ContaContabilMovimento"/>
        <mapping class="tabelas.RelContabilidadeBanco"/>
        <mapping class="tabelas.Conciliacao"/>
        <mapping class="tabelas.Credor"/>
        <mapping class="tabelas.BancoCategoria"/>
        <mapping class="tabelas.BancoSubcategoria"/>
        <mapping class="tabelas.ContabilidadeCategoria"/>
        <mapping class="tabelas.ContabilidadeSubcategoria"/>
    </session-factory>
</hibernate-configuration>
